body{
    background-color: rgb(0, 0, 0);
}

h1 {
    text-align: center;
    font-size: 40px;
    color: white;
}

p {
    text-align: center;
    font-size: 16px;
    color: white;
}

.imagen1 {
    width: auto;
    height: 50px;
    display: block;
}

.btn {
    padding: 18px 30px;
    border-radius: 30px;
    border: 1.5px solid #2b5b84;


    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #1a365d;
    cursor: pointer;
    outline: none;


    background: linear-gradient(180deg, #dcebfa 0%, #5994d3 100%);

    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.btn:hover {
    background: linear-gradient(180deg, #ffffff 0%, #d4e7fd 100%);

    border-color: #3b82f6;
    box-shadow: 0 0 15px rgba(147, 197, 253, 0.8), 0 4px 10px rgba(0, 0, 0, 0.15);
    text-decoration: none;


    transform: translateY(-1px);
}

/* Efecto al hacer clic */
.btn:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.fila {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
    justify-content: center;
}
.columna {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: center;
}
.caja1{
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 10px;
}