body{
    background-color: rgb(0, 0, 0);
}
h1 {
    font-size: 40px;
    color: white;
}
p {
    font-size: 16px;
    color: white;
}
.imagen1 {
    width: auto;
    height: 400px;
}
.imagen2 {
    width: auto;
    height: 400px;
}
.imagen3 {
    width: auto;
    height: 400px;
}
.imagen4 {
    width: auto;
    height: 400px;
}